// Cv Stylesheets
= stylesheet_link_tag 'keppler_cv/application', media: 'all', 'data-turbolinks-track': true
// Cv Javascripts
= javascript_include_tag 'keppler_cv/application', 'data-turbolinks-track': true