@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,600');
body {
  font-family: 'Montserrat', sans-serif;
}
.preloader {
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.preloader img {
  object-fit: cover;
}
#navbar {
  background: linear-gradient(rgba(0, 0, 0, .9) 10%, transparent);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: 0.2s ease-in-out;
}
@media (max-width: 991px) {
  #navbar .toggle-menu {
    cursor: pointer;
    display: block;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.2s ease-out;
    z-index: 20;
  }
  #navbar .toggle-menu .menu-bar {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    height: 3px;
    margin: 5px;
    width: 30px;
  }
  #navbar .toggle-menu.close-menu {
    transform: rotate(90deg);
    transition: 0.2s ease-out;
  }
  #navbar .toggle-menu.close-menu .menu-bar:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 5px 6px;
  }
  #navbar .toggle-menu.close-menu .menu-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar .toggle-menu.close-menu .menu-bar:nth-child(3) {
    transform: rotate(135deg);
    transform-origin: 17px -2px;
  }
}
#navbar ul {
  padding: 0;
}
#navbar ul li {
  display: inline-flex;
  list-style: none;
}
#navbar ul li a {
  align-items: center;
  color: #eee;
  display: flex;
  font-size: 1.5rem;
  height: 100px;
  justify-content: center;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  width: 120px;
}
#navbar ul li a:hover, #navbar ul li a.active {
  background: linear-gradient(rgba(0, 0, 0, .4) 10%, transparent);
  color: #f33;
  transition: 0.2s ease-in-out;
}
@media (max-width: 991px) {
  #navbar {
    align-items: center;
    background: none;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 0 !important;
  }
  #navbar ul {
    height: 100vh;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    padding: 100px 0 0;
    position: fixed;
    top: 0;
    transform: scale(2);
    transition: 0.2s ease-out;
    width: 100vw;
    z-index: -1;
  }
  #navbar ul li {
    width: 100%;
    z-index: -1;
  }
  #navbar ul li a {
    font-size: 2rem;
    height: 50px;
    padding: 20px;
    transition: 0.2s ease-in-out;
    width: 100%;
    z-index: -1;
  }
  #navbar ul li a:hover, #navbar ul li a.active {
    background: #111 66;
    color: #f33;
    transition: 0.2s ease-in-out;
  }
  #navbar.displayed {
    z-index: 1 !important;
  }
  #navbar.displayed ul {
    background: #111 cc;
    opacity: 1;
    transform: scale(1);
    transition: 0.2s ease-out;
    z-index: 1;
  }
  #navbar.displayed ul a {
    height: 50px;
    font-size: 2rem;
    padding: 20px;
    width: 100%;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  #navbar.sticked {
    background: rgba(0, 0, 0, .75);
    margin: 0;
    transition: 0.2s ease-in-out;
  }
  #navbar.sticked ul {
    margin: 0;
  }
  #navbar.sticked ul a {
    height: 50px;
    width: 100px;
  }
}
.background-container {
  background-image: linear-gradient(rgba(10, 10, 50, 1), rgba(255, 100, 100, .9)), url('office1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 2200px;
  position: relative;
}
@media (max-width: 600px) {
  .background-container {
    min-height: 2400px;
  }
}
#home {
  background: url('pc1.jpg');
  background-size: cover;
  border-radius: 0% 0% 200% 200Array/0Array 0 20% 20%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  min-height: 900px;
}
#home .main-text {
  color: #fff;
  font-size: 10rem;
  line-height: 1.1;
  max-width: 400px;
  min-width: 200px;
  padding: 130px 20px;
  text-align: left;
}
@media (max-width: 991px) {
  #home .main-text {
    font-size: 8rem;
  }
}
@media (max-width: 767px) {
  #home .main-text {
    font-size: 7rem;
  }
}
#home .main-text span:not(.cursor) {
  color: #f33;
}
#home .main-text .cursor {
  animation: fadeInOut 1s 1s infinite ease-in-out;
}
#home .main-text p {
  color: #aaa;
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 20px 0;
}
.about {
  background: rgba(0, 0, 0, .75);
  width: 100%;
}
.about .description {
  color: #aaa;
  font-size: 2rem;
  margin: 0 50px;
}
@media (max-width: 991px) {
  .about .description {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .about .description {
    font-size: 1.6rem;
  }
}
.avatar {
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
  width: 200px;
}
.top-content {
  transform: translateY(-50px);
}
.top-section {
  transform: translateY(-200px);
}
#skills {
  background: rgba(0, 0, 0, .75);
  width: 100%;
}
#skills .progress {
  background-color: transparent;
  height: 20px;
  line-height: 0.5;
  padding: 7px;
}
#skills .progress:hover .progress-bar:before {
  opacity: 1;
  transition: 0.3s ease-out;
  transform: translateX(0);
}
#skills .progress:hover .progress-bar .percentage {
  opacity: 1;
  transform: translateX(110%);
  transition: 0.3s ease-out;
}
#skills .progress .progress-bar {
  background-color: #f33 cc;
  padding: 3px;
  float: left;
  position: relative;
}
@media (max-width: 767px) {
  #skills .progress .progress-bar:before {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }
  #skills .progress .progress-bar .percentage {
    opacity: 1 !important;
    transform: translateX(110%) !important;
  }
}
#skills .progress .progress-bar:before {
  content: '';
  border-bottom: 5px solid transparent;
  border-left: 0 solid transparent;
  border-right: 5px solid #111 99;
  border-top: 5px solid transparent;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-50%);
  transition: 0.3s ease-out;
}
#skills .progress .progress-bar .percentage {
  background: #111 99;
  color: #fff;
  opacity: 0;
  position: absolute;
  right: 0;
  top: -5px;
  transform: translateX(60%);
  transition: 0.3s ease-out;
}
#skills .progress .progress-text {
  color: #aaa;
  padding: 0;
  width: 600px;
}
#skills .progress-table {
  margin: 0 2%;
}
@media (max-width: 991px) {
  #skills .progress-table {
    margin: 0 10%;
  }
}
#skills .progress-table th {
  width: 10px;
}
#skills .progress-table th .mini-brand {
  max-height: 20px;
}
#skills .progress-table td {
  height: 5px;
  padding: 5px;
  position: relative;
  width: 80%;
}
@media (max-width: 991px) {
  #skills .progress-table td {
    width: 90%;
  }
}
#skills .technical-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skills .technical-skills .skill {
  background: #000 44;
  color: #999;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: 0.2s ease-in-out;
}
#skills .technical-skills .skill i {
  color: #999;
  font-size: 3rem;
  margin: 10px;
  transition: 0.2s ease-in-out;
}
#skills .technical-skills .skill:hover {
  background: #000 66;
  color: #ccc;
  transition: 0.2s ease-in-out;
}
#skills .technical-skills .skill:hover i {
  color: #f33;
  transition: 0.2s ease-in-out;
}
#portfolio {
  background-image: linear-gradient(rgba(360, 360, 360, .8), rgba(360, 360, 255, .8)), url('pc2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
  min-height: 500px;
}
#portfolio .projects-container {
  align-items: center;
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}
#portfolio .projects-container .project {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 300px;
}
#portfolio .projects-container .project .project-name {
  color: #fff;
}
@media (max-width: 767px) {
  #portfolio .projects-container .project .project-image {
    animation: none;
    filter: brightness(50%) blur(3px);
    transform: scale(1.1);
  }
  #portfolio .projects-container .project .project-description {
    opacity: 1;
    transform: scale(1);
    transition: 0.2s ease-in-out;
  }
}
#portfolio .projects-container .project:hover .project-image {
  animation: navigateDown 30s 0.5s infinite ease-out;
  filter: brightness(50%) blur(3px);
  transform: scale(1.1);
}
#portfolio .projects-container .project:hover .project-description {
  opacity: 1;
  transform: scale(1);
  transition: 0.2s ease-in-out;
}
#portfolio .projects-container .project-image {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  object-fit: cover;
  object-position: top;
  position: absolute;
  transition: 0.2s ease-in-out;
  width: 300px;
}
#portfolio .projects-container .project-description {
  opacity: 0;
  padding: 5px;
  text-align: center;
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
  z-index: 1;
}
#portfolio .projects-container .project-description strong {
  color: #eee;
  display: block;
}
#portfolio .projects-container .project-description p {
  color: #ddd;
}
#experience {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 1)), url('experience.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1600px;
  min-height: 1000px;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (max-width: 767px) {
  #experience {
    background-position: 15%;
  }
}
#experience .time-lines {
  display: grid;
}
#experience .time-line {
  position: relative;
}
#experience .time-line:before {
  background: #f33;
  border-radius: 50%;
  content: '';
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 10px;
}
@media (max-width: 767px) {
  #experience .time-line:before {
    left: 0%;
  }
}
#experience .time-line:after {
  background: #f33;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 3px;
}
@media (max-width: 767px) {
  #experience .time-line:after {
    left: 0%;
  }
}
#experience .time-line .job {
  margin-left: 55%;
  position: relative;
  width: 45%;
}
@media (max-width: 767px) {
  #experience .time-line .job {
    margin-left: 5%;
    width: 95%;
  }
}
#experience .time-line .job .date-range {
  color: #f33;
  font-weight: 600;
  margin: 0;
  margin-top: -3px;
}
#experience .time-line .job .charge {
  color: #ddd;
}
#experience .time-line .job .company {
  color: #666;
  font-weight: 600;
}
#experience .time-line .job .responsabilities {
  color: #aaa;
  margin-bottom: 50px;
}
.carousel {
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.carousel .control {
  align-items: center;
  background: #111 6;
  border-radius: 50%;
  color: #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 15px;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 2;
}
.carousel .control:hover {
  background: #111 a;
  transition: 0.2s ease-in-out;
}
.carousel .control.next {
  right: 0;
}
.carousel-content {
  align-items: center;
  display: flex;
  position: relative;
  perspective: 800px;
  perspective-origin: left;
  transform: perspective(400px) rotateY(10deg) translateX(0);
  transform-origin: left;
  transform-style: preserve-3d;
}
.carousel .item {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  cursor: pointer;
  filter: grayscale(50%) blur(1.2px);
  margin: 10px;
  max-width: 80vw;
  opacity: 0.5;
  position: relative;
  transition: 0.5s ease-in-out;
}
.carousel .item:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  filter: grayscale(20%) blur(0.8px);
  opacity: 0.8;
  transform: translateZ(1px);
  transition: 0.2s ease-in-out;
}
.carousel .item-header {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
@media (max-width: 450px) {
  .carousel .item-header {
    flex-wrap: wrap;
  }
}
.carousel .item-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.carousel .item-info {
  display: grid;
  text-align: center;
}
.carousel .item-image {
  border-radius: 50%;
  height: 100px;
  margin: 10px;
  object-fit: cover;
  object-position: top;
  width: 100px;
}
.carousel .item-quote {
  background: #eaeaea;
  color: #666;
  min-width: 200px;
  padding: 20px;
  position: relative;
}
.carousel .item-quote .fa-quote-left {
  color: #333 3;
  font-size: 2rem;
  left: 5px;
  position: absolute;
  top: -10px;
  z-index: 0;
}
.carousel .item-quote .fa-quote-right {
  color: #333 3;
  font-size: 2rem;
  right: 5px;
  position: absolute;
  bottom: -10px;
  z-index: 0;
}
.carousel .item.active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  filter: none;
  opacity: 1;
  transform-origin: left;
  transition: none;
  z-index: 1;
}
.carousel .item.active.rotate {
  transform: perspective(400px) rotateY(-3deg) translateZ(2px);
  transition: 0.5s ease-in-out;
}
#testimonials {
  background-size: cover;
  background-image: linear-gradient(to right top, #ddd e, #eee f), url('office2.jpg');
  background-position: center;
  min-height: 500px;
  overflow: hidden;
}
#testimonials .item {
  background: #eee;
  padding: 20px;
  transition: 0.5s ease-in-out;
}
#certificates {
  background-size: cover;
  background-image: linear-gradient(to right top, #ddd e, #eee f), url('pc2.jpg');
  background-position: center;
  min-height: 500px;
  overflow: hidden;
}
#certificates .item img {
  background: #eee;
  max-height: 500px;
  max-width: 80vw;
  transition: 0.5s ease-in-out;
}
#contact {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .5)), url('me.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 600px;
  padding-bottom: 150px;
  padding-top: 50px;
}
#contact .form {
  background: #111 cc;
  display: flex;
  min-height: 450px;
  padding: 50px 5%  ;
  position: relative;
  width: 100%;
}
@media (max-width: 620px) {
  #contact .form {
    display: block;
  }
}
#contact .form .contact-info {
  color: #eee;
  margin: 0;
  padding: 20px 5%;
  width: 100%;
}
@media (max-width: 620px) {
  #contact .form .contact-info {
    text-align: center;
  }
}
#contact .form .contact-info p {
  font-size: 2rem;
  margin: 20px 0;
}
#contact .form .contact-info .social-medias a:hover .fa-whatsapp {
  background: #0dc143;
}
#contact .form .contact-info .social-medias a:hover .fa-facebook {
  background: #4267b2;
}
#contact .form .contact-info .social-medias a:hover .fa-linkedin {
  background: #0077b5;
}
#contact .form .contact-info .social-medias a:hover .fa-github {
  background: #171515;
}
#contact .form .contact-info .social-medias a i {
  background-color: transparent;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  height: 40px;
  margin: 5px;
  padding: 1rem;
  text-align: center;
  width: 40px;
  transition: 0.3s ease-in-out;
}
#contact .form form {
  margin: 0;
  padding: 20px 5%;
  width: 100%;
}
#contact .form form label {
  color: #eee;
}
#contact .form form input, #contact .form form textarea {
  border-radius: 0;
  box-shadow: 0;
  width: 100%;
}
#contact .form form input:focus, #contact .form form textarea:focus {
  border-color: #f33;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}
#contact .form form textarea {
  resize: none;
  height: 100px;
}
#contact .form form [type=submit] {
  background: #f33;
  border: 0;
  float: right;
  color: #fff;
  padding: 10px 20px;
}
@media (max-width: 400px) {
  #contact .form form [type=submit] {
    float: none;
    width: 100%;
  }
}
.footer {
  align-items: center;
  background: rgba(255, 255, 255, .9);
  bottom: 0;
  color: #666;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
section {
  padding: 0 15% 50px;
}
@media (max-width: 991px) {
  section {
    padding: 0 10%;
  }
}
@media (max-width: 767px) {
  section {
    padding: 0 5%;
  }
}
.btn {
  background: transparent;
  color: #fff;
  border: 1px solid #eee;
  margin: 20px;
  padding: 10px 20px;
  transition: 0.2s ease-out;
}
.btn:hover, .btn:focus, .btn:active {
  background: #f33;
  border: 1px solid #f33;
  border-radius: 20px;
  color: #fff;
  outline: 0;
  transition: 0.2s ease-out;
}
.btn.pink {
  background: transparent;
  color: #f33;
  border: 1px solid #f33;
  margin: 20px;
  padding: 10px 20px;
  transition: 0.2s ease-out;
}
.btn.pink:hover, .btn.pink:focus, .btn.pink:active {
  background: #f33;
  border: 1px solid #f33;
  border-radius: 20px;
  color: #fff;
  outline: 0;
  transition: 0.2s ease-out;
}
.blur {
  filter: blur(3px);
  transition: 0.2 ease-out;
  z-index: -1 !important;
}
.section-title {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 2;
  padding: 30px 0 20px;
  text-align: center;
  text-transform: uppercase;
}
.section-title.white {
  color: #fff;
}
.section-title.dark {
  color: #555;
}
.section-title:after {
  background-color: #f33;
  border: 0;
  content: '';
  display: block;
  height: 3px;
  margin: 0 auto;
  transform: translateY(-10px);
  width: 100px;
}
a:hover, a:focus {
  text-decoration: none;
}
.fadeIn.animate {
  opacity: 0;
}
.fadeIn.animated {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.fadeInUp.animate {
  opacity: 0;
  transform: translateY(50%);
}
.fadeInUp.animated {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out !important;
}
.grow-width.animate {
  width: 0 !important;
}
.grow-width.animated {
  width: initial;
  transition: width 0.75s ease-in-out;
}
.fadeInLeft.animate {
  opacity: 0;
  transform: translateX(10%);
}
.fadeInLeft.animated {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease-in-out !important;
}
.grow-width.animate {
  width: 0 !important;
}
.grow-width.animated {
  width: initial;
  transition: width 0.75s ease-in-out;
}
.time-line.animate:before {
  opacity: 0 !important;
}
.time-line.animate:after {
  height: 0 !important;
}
.time-line.animated:before {
  opacity: 1 !important;
  transition: 0.5s ease-in-out;
}
.time-line.animated:after {
  height: 100% !important;
  transition: height 0.5s 0.5s ease-in-out;
}
iframe {
  max-width: 100%;
}
@keyframes navigateDown {
  0% {
    object-position: top;
  }
  50% {
    object-position: bottom;
  }
  100% {
    object-position: top;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
