@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* line 3, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-just-start {
  background: url(/assets/keppler_frontend/grapes/flex-just-start.png) no-repeat center;
}

/* line 7, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-dir-row {
  background: url(/assets/keppler_frontend/grapes/flex-dir-row.png) no-repeat center;
}

/* line 11, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-dir-row-rev {
  background: url(/assets/keppler_frontend/grapes/flex-dir-row-rev.png) no-repeat center !important;
}

/* line 15, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-dir-col {
  background: url(/assets/keppler_frontend/grapes/flex-dir-col.png) no-repeat center;
}

/* line 19, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-dir-col-rev {
  background: url(/assets/keppler_frontend/grapes/flex-dir-col-rev.png) no-repeat center;
}

/* line 23, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-just-end {
  background: url(/assets/keppler_frontend/grapes/flex-just-end.png) no-repeat center;
}

/* line 27, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-just-sp-bet {
  background: url(/assets/keppler_frontend/grapes/flex-just-sp-bet.png) no-repeat center;
}

/* line 31, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-just-sp-ar {
  background: url(/assets/keppler_frontend/grapes/flex-just-sp-ar.png) no-repeat center;
}

/* line 35, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-just-sp-cent {
  background: url(/assets/keppler_frontend/grapes/flex-just-sp-cent.png) no-repeat center;
}

/* line 39, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-al-start {
  background: url(/assets/keppler_frontend/grapes/flex-al-start.png) no-repeat center;
}

/* line 43, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-al-end {
  background: url(/assets/keppler_frontend/grapes/flex-al-end.png) no-repeat center;
}

/* line 47, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-al-str {
  background: url(/assets/keppler_frontend/grapes/flex-al-str.png) no-repeat center;
}

/* line 51, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icon-al-center {
  background: url(/assets/keppler_frontend/grapes/flex-al-center.png) no-repeat center;
}

/* line 55, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
#gjs {
  border: none;
}

/* line 59, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-one-bg {
  background-color: #ecebeb !important;
}

/* line 63, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-editor {
  font-family: Helvetica,sans-serif;
  font-size: 1.2rem !important;
  position: relative;
  box-sizing: border-box;
  height: 101% !important;
}

/* line 71, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-sm-properties {
  font-size: 1rem !important;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
}

/* line 81, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-clm-tags {
  font-size: 1rem !important;
  padding: 10px 5px;
}

/* line 86, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-block-label {
  line-height: normal;
  font-size: 1rem !important;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 95, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-btn {
  box-sizing: border-box;
  min-height: 30px;
  min-width: 30px;
  line-height: 21px;
  background-color: transparent;
  border: none;
  font-size: 1.7rem !important;
  margin-right: 5px;
  border-radius: 2px;
  padding: 4px;
  padding-top: .6rem !important;
  position: relative;
  cursor: pointer;
}

/* line 111, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-layer {
  font-weight: lighter;
  text-align: left;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1rem !important;
}

/* Secondary color for the text color */
/* line 120, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-two-color {
  color: #6f6b6b !important;
}

/* line 124, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-blocks-c {
  background: #ececec !important;
}
/* line 127, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-blocks-c .gjs-four-color-h {
  background: #f7f7f7 !important;
  border-radius: 10px !important;
}

/* line 133, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-sm-label {
  margin: 5px 5px 3px 0;
  color: #191919 !important;
  font-weight: 500 !important;
}

/* line 139, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
label {
  font-weight: 500 !important;
}

/* line 144, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-radio-item input:checked + .gjs-radio-item-label {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* line 149, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-radio-item-label {
  color: #191919 !important;
}

/* Tertiary color for the background */
/* line 154, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-three-bg {
  background-color: #f44336 !important;
  color: white;
}

/* Quaternary color for the text color */
/* line 160, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #f44336 !important;
}

/* line 164, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-radio-item-label {
  cursor: pointer;
  display: block;
  padding: 5px;
  margin: 0 !important;
}

/* line 171, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.icons-flex {
  background-size: 26% 60% !important;
  height: 23px !important;
  width: 100% !important;
  opacity: 0.9;
}

/* line 178, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-radio-item input:checked + .gjs-radio-item-label {
  background-color: none !important;
}

/* line 182, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.grp-handler-close {
  color: rgba(255, 255, 255, 0.77);
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  background-color: #73737300;
  text-align: center;
  width: 15px;
  height: 15px;
  margin-left: -5px;
  line-height: 10px;
  font-size: 21px;
  cursor: pointer;
}

/* line 196, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
#gjs-sm-background-image {
  width: 100% !important;
}

/* line 200, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-panel {
  display: inline-block;
  position: fixed !important;
  box-sizing: border-box;
  text-align: center;
  padding: 0px !important;
  z-index: 3;
}

/* line 209, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-trt-traits {
  font-size: 1.2rem !important;
}

/* line 213, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-views-container {
  height: 100%;
  padding: 42px 0 0;
  right: 0;
  width: 15%;
  overflow: auto;
  top: 33px !important;
  box-shadow: none !important;
  border-left: 1px solid #c0c0c0 !important;
}

/* line 224, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-am-file-uploader {
  display: none;
}

/* line 228, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-am-assets-cont {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
  width: 100% !important;
  float: right;
  height: 325px;
  overflow: hidden;
}

/* line 239, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-am-add-asset {
  display: none;
}

/* line 243, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-am-preview-cont {
  position: relative;
  height: 82px !important;
  width: 20% !important;
  background-color: #444;
  border-radius: 2px;
  float: left;
  overflow: hidden;
}

/* line 253, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-field-checkbox {
  height: 20px !important;
}

/* line 257, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-block svg {
  fill: currentColor;
  width: 46px !important;
}

/* line 262, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-layer-vis {
  display: none !important;
}

/* line 266, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-editor-cont {
  overflow: hidden !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
}

/* line 273, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-cv-canvas {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-top: 1px solid #c0c0c0 !important;
  box-sizing: border-box;
  width: 100% !important;
  height: calc(100% - 40px);
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 32px !important;
}

/* line 287, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-devices-c {
  display: flex;
  align-items: center;
  padding: 3px;
  height: 30px !important;
}

/* line 294, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-device-label {
  display: none !important;
}

/* line 298, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-views {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  right: 0;
  top: 31px !important;
  width: 15%;
  z-index: 4;
  position: fixed !important;
  right: -15% !important;
}

/* line 308, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-views-container {
  height: 93% !important;
  padding: 42px 0 0;
  right: 0;
  top: 62px !important;
  width: 15%;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: fixed !important;
  right: -15% !important;
}

/* line 320, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-options {
  right: 0% !important;
  top: 0;
}

/* line 325, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-commands {
  width: 100% !important;
  height: 25px !important;
  left: 0;
  top: 6px !important;
  box-shadow: none !important;
}

/* line 333, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-views > .gjs-pn-buttons {
  background: #bbbaba !important;
}

/* line 337, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-options > .gjs-pn-buttons > .gjs-pn-btn.fa-bars {
  background: #f44336 !important;
  margin: 0;
  border-radius: 0;
  color: #fff !important;
}

/* line 344, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-options > .gjs-pn-buttons > .gjs-pn-btn.fa-times {
  background: #f44336 !important;
  margin: 0;
  border-radius: 0;
  color: #fff !important;
}

/* line 355, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-toolbar {
  position: absolute;
  color: white;
  background-color: #f44336 !important;
  z-index: 10;
}

/* line 362, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-badge {
  background-color: #f44336 !important;
}

/* line 366, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-comp-selected {
  outline: 2px solid #f44336 !important;
  outline-offset: -3px;
}

/* line 371, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gsj-show-tools {
  -webkit-animation: showtools .5s forwards;
  /* Safari 4.0 - 8.0 */
  animation: showtools .3s forwards;
}

/* line 376, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gsj-hide-tools {
  -webkit-animation: hidetools .5s forwards;
  /* Safari 4.0 - 8.0 */
  animation: hidetools .3s forwards;
}

@keyframes showtools {
  from {
    right: -15%;
  }
  to {
    right: 0%;
  }
}
@keyframes hidetools {
  from {
    right: 0%;
  }
  to {
    right: -15%;
  }
}
/* line 391, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-pn-commands > .gjs-pn-buttons {
  align-items: center;
  display: initial !important;
  justify-content: space-between;
  top: 5px;
}

/* line 398, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-keppler-logo:after {
  content: 'Keppler';
  font-family: 'Patua One';
  font-size: 22px !important;
  position: relative !important;
  top: -2px !important;
  color: #f44336;
}

/* line 407, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-off-prv.fa-eye-slash {
  font-size: 22px !important;
}

/* line 411, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.no-edit-area {
  border: 1px dashed red !important;
  padding: 5px;
  padding-bottom: 0px;
}

/* line 417, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-sm-title,
.gjs-layer-name,
.gjs-traits-label,
.gjs-label,
.gjs-device-label,
#gjs-clm-label,
#gjs-clm-new {
  color: #3a3939 !important;
}

/* line 428, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-input-holder input {
  color: #3a3939 !important;
}

/* line 434, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-field,
.gjs-field {
  background: #06060624 !important;
  color: #191919 !important;
}

/* line 440, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.input-unit {
  color: #191919 !important;
}

/* line 444, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-field-arrow-u {
  border-bottom: 4px solid #191919 !important;
}

/* line 448, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-field-arrow-d,
.gjs-d-s-arrow {
  border-top: 4px solid #191919 !important;
}

/* line 453, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-off-prv {
  background: #f44336 !important;
  color: #fff !important;
}

/* line 458, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-field-checkbox input:checked + .gjs-chk-icon {
  border-color: rgba(0, 0, 0, 0.5) !important;
  border-width: 0 2px 2px 0;
  border-style: solid;
}

/* line 464, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.keppler-header-area {
  background-color: #1fc8db1f;
  border: 2px dashed #0daefb;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  transition: margin .3s;
}

/* line 473, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.keppler-view-area {
  background: #adf7cb27;
  border: 2px dashed #27fb0d;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  transition: margin .3s;
}

/* line 482, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.keppler-footer-area {
  background-color: #1fc8db1f;
  border: 2px dashed #0daefb;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  transition: margin .3s;
}

/* line 494, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-layer-count {
  position: absolute !important;
  right: 27px !important;
  top: 6px !important;
  color: #676767 !important;
  padding: 1px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-weight: bold !important;
  border-radius: 10px !important;
}

/* line 508, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-sm-sector .gjs-sm-stack #gjs-sm-add, .gjs-clm-tags .gjs-sm-stack #gjs-sm-add {
  background: #000000c9 !important;
  font-size: 12px !important;
  padding: 5px  !important;
}

/* line 515, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-select select {
  color: #191919 !important;
}
/* line 519, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-select option {
  background: #06060624 !important;
  color: #191919 !important;
}

/* line 525, /media/starklord/RESPALDO/Proyectos/Ruby/Portfolio/rockets/keppler_frontend/app/assets/stylesheets/keppler_frontend/app/grapes/grapes-custom.scss */
.gjs-sm-sector .gjs-sm-property .gjs-sm-btn, .gjs-clm-tags .gjs-sm-property .gjs-sm-btn {
  color: #191919 !important;
}
